@mixin MyFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//   @include MyFlex();
#teamSection {
    padding: 20px 20px 40px;

    .upBox {
        @include MyFlex();
        flex-direction: column;
        text-align: center;
        gap: 10px;

        p {
            color: gray;
        }

        span {
            font-size: 40px;
            color: black;
        }

    }

    .downBox {
        margin-top:50px;
        display: flex;
        gap: 100px;
        flex-wrap: wrap;
        @include MyFlex();
        .cart{
            width: 290px;
text-align: center;
display: flex;
flex-direction: column;
gap: 10px;
            img{
                max-width: 290px;
            }
            h3{
                color: #777777;
            }
            p{
                color: #777777;
            }
          
            .iconBox{
                @include MyFlex();
                display: flex;
                gap: 10px;
                .icon{
                    @include MyFlex();
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    color: white;
                    cursor: pointer;
                    background-color: #777777;
                }
                .icon:hover{
                    background-color: black;
                }
            }
        }
    }
}